doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		title Document
	body
html
	head
		title Music Metadata Editor

		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")

		link(rel="stylesheet", href="/css/bootstrap.min.css")
	body
		h1 Hello, World!

		script(src="/js/jquery-3.4.1.min.js")
		script(src="/js/popper.min.js")
		script(src="/js/bootstrap.min.js")
		script(src="/js/main.js")