doctype html
html(lang="en")
	head
		title Music Metadata Editor

		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")

		link(rel="stylesheet", href="/css/bootstrap.min.css")
		link(rel="stylesheet", href="/css/main.css")
	body
		container
			nav
				ul.breadcrumb
					li.active#input
						a(href="#") Input
					li#process
						a(href="#") Process
					li#output
						a(href="#") Output     

			main
				h1.display-4.text-center Files Available

			footer.d-flex.justify-content-between
				p © Chauncey Hoover 2019
				a(href="https://github.com/ChaunceyHoover/MusicMetadataEditor", target="_blank")
					img.d-inline(src="/img/GitHub-Mark-Light-32px.png", style="width:16px;height:16px;") 
					p.d-inline View on GitHub

		script(src="/js/jquery-3.4.1.min.js")
		script(src="/js/popper.min.js")
		script(src="/js/bootstrap.min.js")
		script(src="/js/main.js")